<p>My Song</p>

<% @songs.each do |song| %>
  <%= link_to song.name, song_path(song) %><br>
  <%= link_to 'My Artist', artist_path(song.artist_id) %>
  <%= link_to 'My Genre', genre_path(song.genre_id)%><br><br>
<% end %>

<br>
<%= link_to 'Create New Song', new_song_path %>
